<div class="row mb-3">
    <div class="col">
        <!-- Button trigger modal -->
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Nuevo Producto
        </button>
    </div>
</div>

<div class="row">
    {{#each productos }}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card text-center mb-3">
            <div class="card-header">
                {{nombre}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{descripcion}}</h5>
                <p class="card-text">{{categoria}}</p>
                <p class="card-text">{{proveedor}}</p>
                <a href="/productos/edit/{{ _id }}" class="btn btn-primary">Editar</a>
            </div>
            <div class="card-footer text-muted">
                <form action="/productos/delete/{{ _id }}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-floating" action="/productos/new" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombre" name="nombre">
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="descripcion" name="descripcion">
                        <label for="descripcion">Descripcion</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control" id="proveedor" name="proveedor">
                            <option value="" for="proveedor">Seleccione uno</option>
                            {{#each proveedores}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                        <!--<input type="text" class="form-control" id="categoria" name="categoria">-->
                        <!--<label for="categoria">Categoria</label>-->
                    </div>


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="proveedor" name="proveedor">
                        <label for="proveedor">Proveedor</label>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
                <a href="/productos" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </div>
    </div>
</div>